* {
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    color: #333;
}
.heading-2 {
    text-align: center;
    color: #333;
}
.question-section {
    margin-top: 20px;
}

/* Poll question styles */
.question-section h1 {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
}

.question-section h3 {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.question-section .text-center {
    text-align: center;
}

.question-section ul {
    list-style-type: none;
    padding: 0;
}

.question-section li {
    margin-bottom: 10px;
}

.question-section .question {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.question-section .question:hover {
    color: #0056b3;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}
.heading-2{
    text-align: center;
    color: #333;
    font-size: 20px;
}
.question-section {
    margin-bottom: 30px;
}
.question-section h2{
  color: #0056b3;
}
.question-section h1{
  color: #08090b;
}
.question {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.options-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.option {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.option:hover {
    background-color: #0056b3;
}

.description {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.results-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.results-button:hover {
    background-color: #218838;
}
.list-group-item
{
    text-align: center;
}

/*index css */
:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    background: wheat;
    display: flex;
    min-height: 82%;
    justify-content: center;
    /* padding: var(--spacing-xxl) var(--spacing-l); */
    padding-top: 70px;
  }
  
  .vote-message{
    columns: red;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
  }
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  .voted-question {
      color: rgb(9, 145, 25);
      font-size: 20px;
      font-weight: bold;
  }
  .not-voted-question{
    color: gray;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
  }
.greyed-out {
    color: #888; /* Grey color */
    cursor: not-allowed; /* Change cursor to indicate not clickable */
    text-decoration: none; /* Remove underline */
    pointer-events: none; /* Disable pointer events */
}
  .vote-status1 {
      text-align: center;
      color: green;
      font-style: italic;
      font-size: 20px;
  }
  .vote-status2 {
      text-align: center;
      color: red;
      font-style: italic;
      font-size: 20px;
  }

  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  /*detail.cc*/
  
